$umd-red: #c91010;

$brand-primary: $umd-red;
$navbar-inverse-bg: $umd-red;
$navbar-inverse-link-color: white;
$navbar-inverse-color: black;

$logo-height: 50px;
$navbar-height: $logo-height + 10px;

$grid-float-breakpoint: 1200px !default;

$env-banner-height: 25px;

$footer-padding-size: 10px;
$footer-padding: $footer-padding-size 0;
$footer-border-size: 1px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "umd_lib_environment_banner";

.logo {
  padding: 10px 0;
}

.logo img{
  height: $logo-height;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#viewport {
  padding-top: $navbar-height + 10px !important;
  min-height: 100%;
  position: relative;
}

#viewport.extra-padding-top {
  padding-top: $navbar-height + $env-banner-height + 10px !important;
}

.btn-group {
  // remove the extra margins from the will_paginate widget
  // so it will align with the other buttons in the toolbar
  .pagination {
    margin: 0;
  }
}

.field_with_errors {
  input, select {
    // color is state-danger-text
    // bootstrap-sass doesn't seem to have that variable defined
    border: 2px solid #a94442;
  }
}

.footer {
  background-color: #f5f5f5;
  border-top: $footer-border-size solid #999999;
  width: 100%;
  padding: $footer-padding;

  a {
    color: #035E8C;
    font-weight: 500;
  }
}

.site {
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

.site-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-nav>li>a {
    padding-top: 25.5px;
    padding-bottom: 25.5px
  }

  .navbar-nav {
    float: right;
  }

  .navbar-brand {
    /* Turn off float:left from bootstrap, restore to default */
    float: none;
    padding: 25.5px 15px 25px 40px;
  }
}

@media (max-width: $grid-float-breakpoint - 1px) {
  .navbar-brand {
    /* Turn off float:left from bootstrap, restore to default */
    float: none;
    padding: 15px 10px 15px 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    padding: 15px 10px 15px 10px;
    font-size: 18px;
  }
}

@media screen and (max-width: 479px) {
  .logo img {
    padding: 0 50px 10px 5px;
  }

  .logo span {
    display: block;
  }
}

